In [1]:
import pandas as  pd
import numpy as np

In [2]:
activity = pd.read_csv('Organized_Activity_Data.csv')

### Preview first 10 rows of data and display data types

In [3]:
activity.head(10)

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2020-01-01,"2,736","10,201",4.46,6,633,341,10,24,"1,482"
1,2020-01-02,"2,637","9,539",4.25,4,608,292,31,2,"1,302"
2,2020-01-03,"2,656","11,394",4.75,5,750,242,32,27,"1,328"
3,2020-01-04,"2,934","17,150",7.20,6,541,294,16,36,"1,657"
4,2020-01-05,"2,961","18,607",7.82,11,452,270,18,48,"1,651"
5,2020-01-06,"2,174","7,296",3.23,5,813,163,15,9,782
6,2020-01-07,"2,283","8,713",3.75,5,672,183,38,6,928
7,2020-01-08,"2,817","6,451",2.87,10,824,333,14,10,"1,434"
8,2020-01-09,"3,142","13,381",5.78,19,608,351,37,37,"1,884"
9,2020-01-10,"3,325","15,043",6.47,7,543,407,29,35,"2,137"

In [4]:
activity.dtypes

Date                       object
Calories Burned            object
Steps                      object
Distance                  float64
Floors                      int64
Minutes Sedentary          object
Minutes Lightly Active      int64
Minutes Fairly Active       int64
Minutes Very Active         int64
Activity Calories          object
dtype: object

### Converting the **Date** to datetime format

In [5]:
activity['Date'] = pd.to_datetime(activity['Date'])

### We can iterate over the object columns to replace the commas and then iterate again to convert to int

In [6]:
for i in ['Calories Burned', 'Steps', 'Minutes Sedentary', 'Activity Calories']:
    activity[i] = activity[i].replace(',','', regex=True)

In [7]:
for i in ['Calories Burned', 'Steps', 'Minutes Sedentary', 'Activity Calories']:
    activity[i] = activity[i].astype(str).astype(int)

In [8]:
activity.dtypes

Date                      datetime64[ns]
Calories Burned                    int32
Steps                              int32
Distance                         float64
Floors                             int64
Minutes Sedentary                  int32
Minutes Lightly Active             int64
Minutes Fairly Active              int64
Minutes Very Active                int64
Activity Calories                  int32
dtype: object

### Check for any missing values

In [9]:
activity[activity.isnull().any(axis=1)]

Empty DataFrame
Columns: [Date, Calories Burned, Steps, Distance, Floors, Minutes Sedentary, Minutes Lightly Active, Minutes Fairly Active, Minutes Very Active, Activity Calories]
Index: []

In [10]:
activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2020-01-01,2736,10201,4.46,6,633,341,10,24,1482
1,2020-01-02,2637,9539,4.25,4,608,292,31,2,1302
2,2020-01-03,2656,11394,4.75,5,750,242,32,27,1328
3,2020-01-04,2934,17150,7.20,6,541,294,16,36,1657
4,2020-01-05,2961,18607,7.82,11,452,270,18,48,1651
...,...,...,...,...,...,...,...,...,...,...
208,2020-07-27,2285,6428,2.86,6,724,241,0,0,857
209,2020-07-28,2898,13031,7.92,20,691,264,19,51,1603
210,2020-07-29,2079,6251,2.61,2,730,197,0,0,704
211,2020-07-30,2561,8614,5.32,21,700,220,23,37,1227
212,2020-07-31,2605,13310,6.97,24,735,196,35,60,1397

### **Save to CSV**

In [11]:
activity.to_csv('Clean_Activity_Data.csv', index=False)