In [1]:
import csv
import sys
import os
import glob
import pandas as pd
#Add the following to ignore SettingWithCopyWarning that occurs when sorting the data in 128
pd.options.mode.chained_assignment = None

# **Import the exported FitBit csv files and concatenate them to one dataframe**

In [2]:
path = r"C:\Users\jwkon\Data Learning\FitData\Fit_Project\Raw Data"
allFiles = glob.glob(os.path.join(path,"*.csv"))

file = []
rows = []
for f in allFiles:
    with open(f, 'r') as csvfile:
        csvfile = csvfile.read().split('\n')
        csvreader = csv.reader(csvfile)
        fields = next(csvreader)
        for row in csvreader:
            rows.append(row)
data = pd.DataFrame(rows)

#### The sleep portion of our data contains AM and PM so we can filter that out. After that is filtered out we can set the rows containing our months to the activity variable

In [3]:
not_activity = data[-data[0].str.contains('AM|PM', na=False)]
activity = not_activity[not_activity[0].str.contains('2020-01|2020-02|2020-03|2020-04|2020-05|2020-06|2020-07', na=False)]
activity

              0      1       2     3   4    5    6   7   8      9
1    2020-04-01  2,158   3,404  1.52   0  876  215   0   0    724
2    2020-04-02  2,777  12,610   5.5   0    0  253  77  12  1,467
3    2020-04-03  2,360   6,783  2.98   0  789  218  33   0    941
4    2020-04-04  2,306   5,610   2.5   8  822  237   0   0    880
5    2020-04-05  2,330   5,978  2.66   0  746  216  19   7    924
..          ...    ...     ...   ...  ..  ...  ...  ..  ..    ...
444  2020-05-27  2,330   7,850  3.49   4  803  277   5   0    996
445  2020-05-28  3,027  13,189  8.61  45  706  276  15  57  1,736
446  2020-05-29  2,965  14,866  8.39  22  699  304   9  55  1,726
447  2020-05-30  2,863  13,723  8.38  17  612  299  32  31  1,626
448  2020-05-31  2,131   4,839  2.16   3  593  236   0   0    761

[213 rows x 10 columns]

#### Sort data by ascending months

In [4]:
activity.sort_values(by=[0], inplace=True, ascending=True)
activity

              0      1       2     3   4    5    6   7   8      9
134  2020-01-01  2,736  10,201  4.46   6  633  341  10  24  1,482
135  2020-01-02  2,637   9,539  4.25   4  608  292  31   2  1,302
136  2020-01-03  2,656  11,394  4.75   5  750  242  32  27  1,328
137  2020-01-04  2,934  17,150   7.2   6  541  294  16  36  1,657
138  2020-01-05  2,961  18,607  7.82  11  452  270  18  48  1,651
..          ...    ...     ...   ...  ..  ...  ...  ..  ..    ...
233  2020-07-27  2,285   6,428  2.86   6  724  241   0   0    857
234  2020-07-28  2,898  13,031  7.92  20  691  264  19  51  1,603
235  2020-07-29  2,079   6,251  2.61   2  730  197   0   0    704
236  2020-07-30  2,561   8,614  5.32  21  700  220  23  37  1,227
237  2020-07-31  2,605  13,310  6.97  24  735  196  35  60  1,397

[213 rows x 10 columns]

Set column header and reset index

In [5]:
activity.columns = [data.iloc[0]]
activity = activity.reset_index(drop=True)

In [6]:
activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2020-01-01,"2,736","10,201",4.46,6,633,341,10,24,"1,482"
1,2020-01-02,"2,637","9,539",4.25,4,608,292,31,2,"1,302"
2,2020-01-03,"2,656","11,394",4.75,5,750,242,32,27,"1,328"
3,2020-01-04,"2,934","17,150",7.2,6,541,294,16,36,"1,657"
4,2020-01-05,"2,961","18,607",7.82,11,452,270,18,48,"1,651"
...,...,...,...,...,...,...,...,...,...,...
208,2020-07-27,"2,285","6,428",2.86,6,724,241,0,0,857
209,2020-07-28,"2,898","13,031",7.92,20,691,264,19,51,"1,603"
210,2020-07-29,"2,079","6,251",2.61,2,730,197,0,0,704
211,2020-07-30,"2,561","8,614",5.32,21,700,220,23,37,"1,227"
212,2020-07-31,"2,605","13,310",6.97,24,735,196,35,60,"1,397"

### **Save to CSV**

In [7]:
activity.to_csv('Organized_Activity_Data.csv', index=False)